<template>
<header
  class="flex items-center h-screen mb-12 bg-fixed bg-center bg-cover bg-blend-darken custom-img  h-24"
>
  <div class=" text-left text-white font-bold text-4xl ml-10" >
    About us
  </div>

</header>

<nav class="flex ml-10 mb-5" aria-label="Breadcrumb">
  <ol class="inline-flex items-center space-x-1 md:space-x-3">
    <li class="inline-flex items-center">
      <a href="../" class="inline-flex items-center text-sm font-medium text-gray-700 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white">
        <svg class="mr-2 w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z"></path></svg>
        Home
      </a>
    </li>
    <li>
      <div class="flex items-center">
        <svg class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
        <a href="#" class="ml-1 text-sm font-medium text-gray-700 hover:text-gray-900 md:ml-2 dark:text-gray-400 dark:hover:text-white">About us</a>
      </div>
    </li>
  </ol>
</nav>

<div class="drop-shadow-2xl text-usach-orange font-bold text-3xl pb-8 pl-10">Members</div>

<Members />

</template>

<script>

import Members from './Members.vue'

export default{
   components: {
      Members
   }
}

</script>

<style scoped>
.custom-img {
  background-image: url("/Cover1.png");
  background-color: rgba(0,0,0,0.4);
}
</style>


