<template>
<header
  class="flex items-center h-screen mb-12 bg-fixed bg-center bg-cover bg-blend-darken custom-img  h-24"
>
  <div class=" text-left text-white font-bold text-4xl ml-10" >
    Diploma
  </div>

</header>

<nav class="flex ml-10 mb-5" aria-label="Breadcrumb">
  <ol class="inline-flex items-center space-x-1 md:space-x-3">
    <li class="inline-flex items-center">
      <a href="../" class="inline-flex items-center text-sm font-medium text-gray-700 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white">
        <svg class="mr-2 w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z"></path></svg>
        Home
      </a>
    </li>
    <li>
      <div class="flex items-center">
        <svg class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
        <a href="#" class="ml-1 text-sm font-medium text-gray-700 hover:text-gray-900 md:ml-2 dark:text-gray-400 dark:hover:text-white">Diploma 5G</a>
      </div>
    </li>
  </ol>
</nav>

<body>
   <div class="mx-8">
      <div class="text-black text-3xl font-semibold border-l-4 border-l-usach-orange">
         &nbsp; Diplomado en 5G: Tecnología, Políticas Públicas y Modelos de Negocio
      </div>

      <div class="flex">
         <img src="https://media.istockphoto.com/vectors/global-network-connection-polygon-connect-dot-and-line-shaped-of-vector-id1187729700?k=20&m=1187729700&s=612x612&w=0&h=Uz3GR1GBYxreRyJS9JD9sftud2QzxFTvUmWCdtR5OGc=" alt="5g"
         class="object-contain h-48 w-96 mt-10 md:ease-out">

         <div> 
            <div class="text-black text-xl mt-8 border-l-4 border-l-usach-blue">&nbsp; Email:</div>
            <div class="text-black">ismael.soto@usach.cl - sebastian.gutierrezl@usach.cl</div>
            <div class="text-black text-xl mt-8 border-l-4 border-l-usach-blue">&nbsp; Periodo de Postulación:</div>
            <div class="text-black">Hasta el 15 de marzo del 2022</div>
            <div class="text-black text-xl mt-8 border-l-4 border-l-usach-blue">&nbsp; Fecha del programa:</div>    
            <div class="text-black">Hasta el 29 de marzo del 2022</div>

            <div class="text-usach-blue text-xl mt-10"><a href="src\assets\informacion_diplomado_5g.pdf" download>informacion_completa_diplomado_5g.pdf</a></div>   
         </div>

   
      </div>



      <div class="mt-5">
         <div id="accordion-collapse" data-accordion="collapse">
         <h2 id="accordion-collapse-heading-1">
            <button type="button" class="flex justify-between items-center p-5 w-full font-bold text-left text-gray-900 bg-gray-100 rounded-t-xl border border-b-0 border-gray-200 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 dark:text-white dark:bg-gray-800 hover:bg-gray-100 dark:hover:bg-gray-800" data-accordion-target="#accordion-collapse-body-1" aria-expanded="true" aria-controls="accordion-collapse-body-1">
            <span>Postulación</span>
            <svg data-accordion-icon="" class="w-6 h-6 rotate-180 shrink-0" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
            </button>
         </h2>
         <div id="accordion-collapse-body-1" aria-labelledby="accordion-collapse-heading-1">
            <div class="p-5 border border-b-0 border-gray-200 dark:border-gray-700 dark:bg-gray-900">
               <p class="mb-2 text-gray-500 dark:text-gray-400"> <strong>Prerrequisitos</strong> </p>
               <p>Los asistentes deben tener conocimientos de telecomunicaciones. Se recomienda contar con el título de técnico-ingeniero y/o el grado de licenciado en ciencias de la ingeniería u otra área afín tales como:</p>
               <ul>
                  <li><p class="mb-2 ml-4 text-black">• Ingeniería Informática</p></li>
                  <li><p class="mb-2 ml-4 text-black">• Ingeniería en Telecomunicaciones</p></li>
                  <li><p class="mb-2 ml-4 text-black">• Ingeniería Industrial</p></li>           
                  <li><p class="mb-2 ml-4 text-black">• Ingeniería Civil Industrial</p></li>           
                  <li><p class="mb-2 ml-4 text-black">• Ingeniería Eléctrica</p></li>       

               </ul>

               <p class="mb-2 text-gray-500 dark:text-gray-400 mt-2"><strong>Audiencia</strong></p>
               <ul>
                  <li><p class="mb-2 ml-4 text-black">• Académicos y docentes de instituciones técnico profesionales y universidades.</p></li>
                  <li><p class="mb-2 ml-4 text-black">• Ingenieros con interés en el análisis de la tecnología 5G</p></li>
                  <li><p class="mb-2 ml-4 text-black">• Profesionales de entidades gubernamentales como ministerio de telecomunicaciones, municipalidades, entida etc.</p></li>           
               </ul>
            </div>
         </div>

         <h2 id="accordion-collapse-heading-2">
            <button type="button" class="flex justify-between items-center p-5 w-full font-bold text-left text-gray-900 bg-gray-100 rounded-t-xl border border-b-0 border-gray-200 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 dark:text-white dark:bg-gray-800 hover:bg-gray-100 dark:hover:bg-gray-800" data-accordion-target="#accordion-collapse-body-2" aria-expanded="true" aria-controls="accordion-collapse-body-2">
            <span>Descripción</span>
            <svg data-accordion-icon="" class="w-6 h-6 rotate-180 shrink-0" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
            </button>
         </h2>
         <div id="accordion-collapse-body-2" aria-labelledby="accordion-collapse-heading-2">
            <div class="p-5 border border-b-0 border-gray-200 dark:border-gray-700 dark:bg-gray-900">
            <p>Este diplomado revisa los fundamentos de la red 5G y proporciona conocimientos fundamentales al profesional que tome el diplomado. Este presenta un conjunto único de tecnologías que permite al alumno entender los conceptos básicos detrás de las nuevas arquitecturas de red, identificando cómo estos conceptos se han adaptado e implementado en dichas redes, así como las implicaciones de su uso. Todo esto permitirá completar la formación en tecnologías 5G</p>
            </div>
         </div>

         <h2 id="accordion-collapse-heading-3">
            <button type="button" class="flex justify-between items-center p-5 w-full font-bold text-left text-gray-900 bg-gray-100 rounded-t-xl border border-b-0 border-gray-200 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 dark:text-white dark:bg-gray-800 hover:bg-gray-100 dark:hover:bg-gray-800" data-accordion-target="#accordion-collapse-body-3" aria-expanded="true" aria-controls="accordion-collapse-body-3">
            <span>Plan de Estudios</span>
            <svg data-accordion-icon="" class="w-6 h-6 rotate-180 shrink-0" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
            </button>
         </h2>
         <div id="accordion-collapse-body-3" aria-labelledby="accordion-collapse-heading-3">
            <div class="p-5 border border-b-0 border-gray-200 dark:border-gray-700 dark:bg-gray-900">
               <h3 class="font-bold m-3">
                  Módulo 1: Introducción a la Industria 5.0
               </h3>
               <ul>
                  <li><p class="mb-2 ml-4 text-black">• Industria 5.0 en Chile, Latinoamérica y el mundo</p></li>
                  <li><p class="mb-2 ml-4 text-black">• Sistemas de Comunicaciones</p></li>
                  <li><p class="mb-2 ml-4 text-black">• Principios y Fundamentos del 5G</p></li>     
                  <li><p class="mb-2 ml-4 text-black">• Políticas de incentivo para 5G</p></li>           
               </ul>

               <h3 class="font-bold m-3">
                  Módulo 2: Aplicación y Regulación
               </h3>
               <ul>
                  <li><p class="mb-2 ml-4 text-black">• Principios de operación de IoT y dispositivos de borde</p></li>
                  <li><p class="mb-2 ml-4 text-black">• Principio de operación en la Nube</p></li>
                  <li><p class="mb-2 ml-4 text-black">• Regulación para 5G</p></li>     
                  <li><p class="mb-2 ml-4 text-black">• Aplicaciones del 5G</p></li>           
               </ul>

               <h3 class="font-bold m-3">
                  Módulo 3: Aspectos Tecnológicos
               </h3>
               <ul>
                  <li><p class="mb-2 ml-4 text-black">• Radio Propagación en 5G</p></li>
                  <li><p class="mb-2 ml-4 text-black">• MIMO masivo en 5G</p></li>
                  <li><p class="mb-2 ml-4 text-black">• Red de Transporte de Fibra Óptica para 5G</p></li>     
                  <li><p class="mb-2 ml-4 text-black">• Interferencia entre 5G y otros Sistemas de Telecomunicaciones</p></li>           
               </ul>

               <h3 class="font-bold m-3">
                  Módulo 4: Negocios asociados a la 5G
               </h3>
               <ul>
                  <li><p class="mb-2 ml-4 text-black">• Introducción a las redes de negocio 5G</p></li>
                  <li><p class="mb-2 ml-4 text-black">• Herramientas de decisión en aplicaciones Industria 5.0</p></li>
                  <li><p class="mb-2 ml-4 text-black">• Etapas de negocio en 5G e IoT</p></li>     
                  <li><p class="mb-2 ml-4 text-black">• Modelos de negocio asociados a V2G, V2B, V2H</p></li>           
               </ul>

               <h3 class="font-bold m-3">
                  Módulo 5: Innovación y Desarrollo en 5G
               </h3>
               <ul>
                  <li><p class="mb-2 ml-4 text-black">• Vehículos eléctricos, V2V, V2I</p></li>
                  <li><p class="mb-2 ml-4 text-black">• Localización y posicionamiento</p></li>
                  <li><p class="mb-2 ml-4 text-black">• Desarrollo de tecnología nacional en 5G</p></li>        
               </ul>
            </div>
         </div>

         <h2 id="accordion-collapse-heading-4">
            <button type="button" class="flex justify-between items-center p-5 w-full font-bold text-left text-gray-900 bg-gray-100 rounded-t-xl border border-b-0 border-gray-200 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 dark:text-white dark:bg-gray-800 hover:bg-gray-100 dark:hover:bg-gray-800" data-accordion-target="#accordion-collapse-body-4" aria-expanded="true" aria-controls="accordion-collapse-body-4">
            <span>Profesorado</span>
            <svg data-accordion-icon="" class="w-6 h-6 rotate-180 shrink-0" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
            </button>
         </h2>
         <div id="accordion-collapse-body-4" aria-labelledby="accordion-collapse-heading-4">
            <div class="p-5 border border-b-0 border-gray-200 dark:border-gray-700 dark:bg-gray-900">
               <h3 class="mt-3">
                  Pablo Adasme Soto
               </h3>
               <ul>
                  <li><p class="mb-2 ml-4 text-black">• Doctor en Ciencias de la Inegniería m/automática</p></li>    
               </ul>

               <h3 class="mt-3">
                  Claudio Valencia Cordero
               </h3>
               <ul>
                  <li><p class="mb-2 ml-4 text-black">• Doctor en Ciencias de la Ingeniería m/procesos</p></li>    
               </ul>

               <h3 class="mt-3">
                  Fabian Seguel González
               </h3>
               <ul>
                  <li><p class="mb-2 ml-4 text-black">• Doctor en Ciencias de la Ingeniería m/automática</p></li>    
               </ul>

               <h3 class="mt-3">
                  Sebatián Gutiérrez Lillo
               </h3>
               <ul>
                  <li><p class="mb-2 ml-4 text-black">• Doctor en Ciencias de la Administración</p></li>    
               </ul>

               <h3 class="mt-3">
                  Diego Fuentealba Cid
               </h3>
               <ul>
                  <li><p class="mb-2 ml-4 text-black">• PhD in Business Informatics, Systems and Accounting</p></li>    
               </ul>
            </div>
         </div>
      </div>
      </div>


   </div>
</body>

</template>

<script>
export default {
  data: function () {
    return {
    }
  }
}
</script>


<style scoped>
.custom-img {
  background-image: url("/Cover1.png");
  background-color: #00000066;
}
</style>