<template>
<footer class="footer bg-usach-blue relative pt-1 border-b-2 border-blue-700">
    <div class="container mx-auto px-6">

        <div class="sm:flex sm:mt-8">
            <div class="mt-8 sm:mt-0 sm:w-full sm:px-8 flex flex-col md:flex-row justify-between">
                <div class="flex flex-col">
                    <img class="object-contain h-72" src="/src/assets/img/logo-usach-acreditada.png" alt="logo_usach" >
                </div>
                <div class="flex flex-col">
                    <span class="font-bold text-white uppercase mt-4 md:mt-0 mb-2 mx-5">Center History</span>
                    <span class="my-2 w-96"><p class="text-white text-justify mx-5">The purpose of the Multidisciplinary Research Center for Telecommunications Technologies (CIMTT) Program is to contribute to the development of the country by generating basic and applied research, training advanced human capital and developing new technologies.</p></span>
                </div>
                <div class="flex flex-col">
                    <span class="font-bold text-white uppercase mt-4 md:mt-0 mb-2">Department of Electrical Engieneering</span>
                    <span class="my-2"><h2 class="text-white font-bold">Universidad de Santiago de Chile</h2></span>
                    <span class="my-2"><p class="text-white">(2) 27100000</p></span>
                    <span class="my-2"><a p class="text-white" href="mailto:#">some.email@usach.cl</a></span>
                    <span class="my-2"><p class="text-white">Av. Ecuador 3519 <br>
                    Estación Central, Región Metropolitana, Chile.</p></span>
                </div>
            </div>
        </div>
    </div>
    <div class="container mx-auto px-6">
        <div class="mt-16 border-t-2 border-gray-300 flex flex-col items-center">
            <div class="sm:w-2/3 text-center py-6">
                <p class="  text-sm text-gray-400 font-bold mb-2">
                    Copyright &copy; {{ new Date().getFullYear() }} - <strong>CIMTT USACH</strong>
                </p>
            </div>
        </div>
    </div>
</footer>
</template>
