<template>
  <nav class="bg-teal bg-black" x-data="{navbarOpen: false}">
    <!--Container-->
    <div class="container px-4 flex flex-wrap py-2 mx-auto lg:space-x-6">
      <!-- Brand -->
        <a href="./"
        class="inline-flex p-2 text-white text-xl font-bold uppercase tracking-wider">CIMTT</a>
      <!-- Toggler btn -->
      <button class="
      inline-flex
      items-center 
      justify-center 
      border 
      w-10 
      h-10 
      ml-auto
      rounded-md 
      text-white 
      hover:bg-usach-orange 
      lg:hidden 
      md:hidden 
      outline-none 
      focus:outline-none"
      @click="navbarOpen = !navbarOpen"
      >
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
        </svg>
      </button>
   
      <!-- Menu -->
      <div class="w-full lg:inline-flex lg:w-auto mt-2 lg:mt-0" :class="{'hidden': !navbarOpen, 'flex': navbarOpen}">
        <ul class="w-full lg:w-auto flex flex-col lg:flex-row lg:space-x-2">
          <li>
            <a href="/about" class="flex px-4 py-2 rounded-md font-medium  text-white hover:text-usach-orange">About us</a>
          </li>
          <li>
            <a href="/diplomado-en-5g-tecnologia-politicas-publicas-y-modelos-de-negocio" class="flex px-4 py-2 rounded-md font-medium  text-white hover:text-usach-orange">5G Diploma</a>
          </li>
          <li>
            <a href="/projects" class="flex px-4 py-2 rounded-md font-medium  text-white hover:text-usach-orange">Projects</a>
          </li>
          <li>
            <a href="/mine-ventilation-lab" class="flex px-4 py-2 rounded-md font-medium  text-white hover:text-usach-orange">Mine Ventilation Lab</a>
          </li>
          <li>
            <a href="/SACVLC" target="_blank" class="flex px-4 py-2 rounded-md font-medium  text-white hover:text-usach-orange">SACVLC 23'</a>
          </li>

          
        </ul>
      </div>

    </div>
  </nav>
</template>

<script>
export default {
  data: function () {
    return {
      navbarOpen: false,
      partnersOpen: false
    }
  },
  methods: {
   onOver() {
     this.partnersOpen = true
   },
   onLeft() {
     this.partnersOpen = false
   } 
  }
}
</script>
