<template>
<header class="flex items-center justify-center h-screen mb-12 bg-fixed bg-center bg-cover custom-img">
    <div>
      <div class="word">
        <div class="mx-96 border-l-8 border-l-usach-orange">
          Center for Multidisciplinary
          Research in  
        </div>
        <div class="mx-96 border-l-8 border-l-usach-blue">
          Telecommunications Technology
        </div>
      </div>
    </div>
</header>

<div class="flex">
  <div class="flex-auto -mt-12 w-1/2">
    <img src="https://cdn-3.expansion.mx/dims4/default/751c5de/2147483647/strip/true/crop/2234x1341+0+0/resize/1800x1080!/format/webp/quality/90/?url=https%3A%2F%2Fcdn-3.expansion.mx%2F57%2F7c%2F39931c2c484386bc934519807d75%2Fistock-1169517502.jpg" alt=""
    class="object-contain">
  </div>
  <div class="flex-auto w-1/2">
    <div class="text-black text-3xl font-semibold border-l-4 border-l-usach-orange ml-7">
      <a href="/diplomado-en-5g-tecnologia-politicas-publicas-y-modelos-de-negocio" class="text-right">5G Diploma: Technology, Public Policies and Business Models</a>
    </div>

    <p class="text-xl text-black text-justify p-7">This course reviews the fundamentals of the 5G network and provides fundamental knowledge to the professional taking the course. It presents a unique set of technologies that allows the student to understand the basic concepts behind the new network architectures, identifying how these concepts have been adapted and implemented in these networks, as well as the implications of their use. All this will complete the training in 5G technologies.</p>

    <a href="/diplomado-en-5g-tecnologia-politicas-publicas-y-modelos-de-negocio" class="bg-usach-blue hover:bg-blue-800 text-white font-bold py-3 px-8 rounded center ml-7 button">More info</a>

    </div>
</div>



      <!-- recent posts -->
      <div class="flex mt-16 mb-4 px-4 lg:px-0 items-center justify-between ml-5">
        <h2 class="font-bold text-3xl">Latest news</h2>
      </div>
      <div class="block space-x-0 lg:flex lg:space-x-6">

        <div class="rounded w-full lg:w-1/2 lg:w-1/3 p-4 lg:p-0 ml-5">
          <img src="https://www.enelx.com/content/dam/local-chile/plaza-inteligente/08.jpg" class="rounded" alt="technology" />
          <div class="p-4 pl-0">
            <h2 class="font-bold text-2xl text-gray-800">Universidad de Santiago participates in the implementation of the first intelligent square in Latin America with 5G technology</h2>
            <p class="text-gray-400 mt-2 text-left">December 9, 2021</p>
            <p class="text-gray-700 mt-2 text-justify">
            The residents of the Eduardo Frei Montalva Park in La Florida will have the first public 5G band, with free WIFI; a video analysis camera circuit; sensors for measuring air quality and noise; charging points for electric vehicles, and a security totem linked to the municipality, among others, which will favor the delivery of information and connectivity with people.
            The project was developed in a public-private initiative, with the collaboration of the Undersecretary of Telecommunications, the Municipality of La Florida, Wom and the University of Santiago.
            </p>

            <a href="https://www.subtel.gob.cl/mtt-y-enel-x-habilitan-la-primera-plaza-inteligente-de-latinoamerica-con-tecnologia-5g/" target= "_blank" class="inline-block py-2 rounded text-green-900 mt-2 ml-auto"> Read more </a>
          </div>
        </div>

        <div class="rounded w-full lg:w-1/2 lg:w-1/3 p-4 lg:p-0">
          <img src="https://images.unsplash.com/photo-1504384764586-bb4cdc1707b0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=900&q=60" class="rounded" alt="technology" />
          <div class="p-4 pl-0">
            <h2 class="font-bold text-2xl text-gray-800">Is at purse tried jokes china ready decay an. </h2>
            <p class="text-gray-700 mt-2">
              Small its shy way had woody downs power. To denoting admitted speaking learning my exercise so in. 
              Procured shutters mr it feelings. To or three offer house begin taken am at. 
            </p>

            <a href="#" class="inline-block py-2 rounded text-green-900 mt-2 ml-auto"> Read more </a>
          </div>
        </div>

        <div class="rounded w-full lg:w-1/2 lg:w-1/3 p-4 lg:p-0">
          <img src="https://images.unsplash.com/photo-1483058712412-4245e9b90334?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2100&q=80" class="rounded" alt="technology" />
          <div class="p-4 pl-0">
            <h2 class="font-bold text-2xl text-gray-800">As dissuade cheerful overcame so of friendly he indulged unpacked.</h2>
            <p class="text-gray-700 mt-2">
              Alteration connection to so as collecting me. 
              Difficult in delivered extensive at direction allowance. 
              Alteration put use diminution can considered sentiments interested discretion.
            </p>
          </div>
        </div>

      </div>
      <!-- end recent posts -->
      

</template>

<script>
var part = "hello world";
export default {
  data: function () {
    return {
      words: [
        {title: 'CIMTT'},
        {title: 'Centro de Investigación Multidiciplinario en Tecnologías de Telecomunicaciones'},
        {title: 'Center for Multidisciplinary Research in Telecommunications Technology'}
        ],
      i: 0,
      offset: 0,
      fowards: true,
      skip_count: 0,
      skip_delay: 15,
      speed: 70,
      part,
    }
  },
  methods: {
    onOver() {
      this.partnersOpen = true
   },
    onLeft() {
      this.partnersOpen = false
   },
   wordflick: function() {
     if(this.fowards){
       this.part = "Just Hi"
     }
   },
   goDiploma() {
     this.$router.push('/diplomado-en-5g-tecnologia-politicas-publicas-y-modelos-de-negocio')
   }
  },
  created: function(){
    this.wordflick()
 },
}
</script>

<style scoped>
.custom-img {
  background-color: rgba(0,0,0,0.5);
  background-image: url("/Cover1.png");
}

.custom-img-dipl {
  background-color: rgba(0,0,0,0.5);
  background-image: url("https://cdn-3.expansion.mx/dims4/default/751c5de/2147483647/strip/true/crop/2234x1341+0+0/resize/1800x1080!/format/webp/quality/90/?url=https%3A%2F%2Fcdn-3.expansion.mx%2F57%2F7c%2F39931c2c484386bc934519807d75%2Fistock-1169517502.jpg");
}

.word {
  margin: auto;
  color: white;
  font: 700 normal 2.5em 'tahoma';
  text-shadow: 5px 2px #222324, 2px 4px #222324, 3px 5px #222324;
}
</style>