<template>
<header
  class="flex items-center h-screen mb-12 bg-fixed bg-center bg-cover bg-blend-darken custom-img  h-24"
>
  <div class=" text-left text-white font-bold text-4xl ml-10" >
    Mine Ventilation Laboratory
  </div>
</header>

<nav class="flex ml-10 mb-10" aria-label="Breadcrumb">
  <ol class="inline-flex items-center space-x-1 md:space-x-3">
    <li class="inline-flex items-center">
      <a href="../" class="inline-flex items-center text-sm font-medium text-gray-700 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white">
        <svg class="mr-2 w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z"></path></svg>
        Home
      </a>
    </li>
    <li>
      <div class="flex items-center">
        <svg class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
        <a href="#" class="ml-1 text-sm font-medium text-gray-700 hover:text-gray-900 md:ml-2 dark:text-gray-400 dark:hover:text-white">Mine Ventilation Lab</a>
      </div>
    </li>
  </ol>
</nav>



<div class="container px-10">
  <h2 class="text-xl font-bold mb-3">Descripción</h2>
  <p class="text-black text-justify my-1">En el ámbito docente, este laboratorio permite a los estudiantes conocer y aprender el uso de equipamiento para evaluar la ventilación en una mina en terreno y realizar medidas. También determinan experimentalmente las curvas de un ventilador y realizan circuitos de ventilación a escala.</p>
  <p class="text-black text-justify ">En el ámbito de la investigación, se complementan las simulaciones numéricas con Mecánica de Fluidos Computacional con medidas experimentales de validación. Se trabaja en diversos aspectos de la ventilación, tales como el mejoramiento en el diseño de la ventilación de cavernas y circuitos mineros de producción, entre otras cosas.</p>
</div>

<div class="container px-10 py-5">
  <h2 class="text-xl font-bold mb-3">Responsables</h2>
  <p class="text-black text-justify my-1"><strong>Juan Pablo Hurtado C.</strong> y <strong>Omar Gallardo G.</strong></p>
</div>

<div class="container px-10 py-5">
  <h2 class="text-xl font-bold mb-3">Destinado a</h2>
  <p class="text-black text-justify my-1"><strong>Docencia</strong> e <strong>Investigación</strong></p>
</div>

<div class="container px-10 py-5">
  <h2 class="text-xl font-bold mb-3">Ubicación</h2>
  <p class="text-black text-justify my-1">Laboratorios Ex - ENAMI del DIMIN USACH, Sector norte, Avenida Portales 3510.</p>
</div>

<div class="container px-10 py-5">
  <h2 class="text-xl font-bold mb-3">Superficie útil (m2)</h2>
  <p class="text-black text-justify my-1"><strong>95</strong></p>
</div>

<div class="container px-10 py-5">
  <h2 class="text-xl font-bold mb-3">Equipamiento</h2>
  <ul>
    <li><p class="mb-2 ml-4 text-black">• 4 Bancos de ensayo de ventiladores</p></li> 
    <li><p class="mb-2 ml-4 text-black">• Analizador de Gases</p></li> 
    <li><p class="mb-2 ml-4 text-black">• 4 Anemómetros</p></li> 
    <li><p class="mb-2 ml-4 text-black">• 1 Barómetro</p></li> 
    <li><p class="mb-2 ml-4 text-black">• 3 Manómetros Diferenciales Digitales</p></li> 
    <li><p class="mb-2 ml-4 text-black">• 4 Manómetros en U</p></li> 
    <li><p class="mb-2 ml-4 text-black">• 4 Manómetros inclinados</p></li> 
    <li><p class="mb-2 ml-4 text-black">• 6 Psicrómetros</p></li> 
    <li><p class="mb-2 ml-4 text-black">• 5 Tubos de Pitot</p></li> 
    <li><p class="mb-2 ml-4 text-black">• 3 Cabezas estáticas</p></li> 
    <li><p class="mb-2 ml-4 text-black">• Programa VENTSIM para simulación de circuitos de ventilación</p></li> 
    <li><p class="mb-2 ml-4 text-black">• Clúster de cálculo con 10 PC conectados en red</p></li> 
    <li><p class="mb-2 ml-4 text-black">• Equipamiento para construir maquetas a escala y ensayarlas</p></li> 
    <li><p class="mb-2 ml-4 text-black">• Equipamiento de posicionamiento automático para medición vectorial de componentes de la velocidad y presión, a escala de laboratorio (en construcción)</p></li> 

  </ul>
</div>

<div class="container px-10 py-5">
  <h2 class="text-xl font-bold mb-3">Actividades</h2>
  <p><strong>Docencia:</strong></p>
  <ul class="mt-2">
    <li><p class="mb-2 ml-4 text-black">• Demostración de circuitos de ventilación a escala</p></li> 
    <li><p class="mb-2 ml-4 text-black">• Aprendizaje en el uso de instrumentación para ventilación (aplicado en salidas a terreno)</p></li> 
    <li><p class="mb-2 ml-4 text-black">• Determinación de curvas características de ventiladores en bancos de ensayo (axiales y centrífugos)</p></li> 
    <li><p class="mb-2 ml-4 text-black">• Gran parte del equipamiento se utiliza en minas subterráneas, con las cuales hay convenios de cooperación.</p></li> 
  </ul>
  <p><strong>Investigación:</strong></p>
  <ul class="mt-2">
    <li><p class="mb-2 ml-4 text-black">• Caracterización de pérdidas de carga en geometrías</p></li> 
    <li><p class="mb-2 ml-4 text-black">• Caracterización de la rugosidad interna de conductos</p></li>
    <li><p class="mb-2 ml-4 text-black">• Medidas de caudal, velocidad y presión en distintos tipos de experimentos relacionados a la ventilación</p></li> 
    <li><p class="mb-2 ml-4 text-black">• Mejoramiento de la eficiencia energética en la ventilación minera</p></li> 
    <li><p class="mb-2 ml-4 text-black">• Cuantificación de contaminantes y su dispersión en ambientes mineros</p></li> 
    <li><p class="mb-2 ml-4 text-black">• Simulaciones CFD para estudios de la mecánica de fluidos aplicada a la ventilación minera</p></li>  
    
  </ul>
</div>









</template>

<style scoped>
.custom-img {
  background-image: url("/Cover1.png");
  background-color: rgba(0,0,0,0.4);
}
</style>