<template>

<section class="pt-8 lg:pt-[50px] bg-[#F3F4F6]">
    <div class="grid grid-cols-3 content-start">

    <div
    v-for="member in members"
    :key="member.name"
    >

        <div class="flex flex-col p-4">
        <div class="bg-white rounded-lg overflow-hidden mb-10">
            <div class="flex justify-center mt-6">
            <img
                v-bind:src="member.image"
                alt="Image"
                class="w-60 h-auto rounded-full object-contain"
                />
            </div>
            <div class="p-8 sm:p-9 md:p-7 xl:p-9 text-center">
                <h3>
                    <a
                    href="javascript:void(0)"
                    class="
                    font-semibold
                    text-dark text-xl
                    sm:text-[22px]
                    md:text-xl
                    lg:text-[22px]
                    xl:text-xl
                    2xl:text-[22px]
                    mb-4
                    block
                    hover:text-primary
                    
                    "
                    >
                    {{member.name}}
                    </a>
                </h3>
                <p class="text-base text-body-color leading-relaxed pb-5">
                {{member.description}}
                </p>
                <a
                    v-if="member.link !== ''"
                    v-bind:href="member.link"
                    target="_blank"
                    class="
                    inline-block
                    py-2
                    px-7
                    border border-[#E5E7EB]
                    rounded-full
                    text-base text-body-color
                    font-medium
                    hover:border-primary hover:bg-primary hover:text-white
                    transition
                    "
                    >
                    Publications
                </a>
            </div>
        </div>
    </div>
</div>

    </div>

</section>


</template>
<script>
import MEMBERS_DATA from '../assets/Members.json'

export default {
    data () {
        return {
            members: MEMBERS_DATA
        }
    }
}
</script>
