<template>
<header
  class="flex items-center h-screen mb-12 bg-fixed bg-center bg-cover bg-blend-darken custom-img  h-24"
>
  <div class=" text-left text-white font-bold text-4xl ml-10" >
    Projects
  </div>
</header>

<nav class="flex ml-10 mb-10" aria-label="Breadcrumb">
  <ol class="inline-flex items-center space-x-1 md:space-x-3">
    <li class="inline-flex items-center">
      <a href="../" class="inline-flex items-center text-sm font-medium text-gray-700 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white">
        <svg class="mr-2 w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z"></path></svg>
        Home
      </a>
    </li>
    <li>
      <div class="flex items-center">
        <svg class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
        <a href="#" class="ml-1 text-sm font-medium text-gray-700 hover:text-gray-900 md:ml-2 dark:text-gray-400 dark:hover:text-white">Projects</a>
      </div>
    </li>
  </ol>
</nav>

<div class="container px-10">
<h2 class="text-3xl font-bold mb-3">In progress</h2>
<ol class="text-lg list-decimal list-outside">
  <li class="pb-5"><strong>"Quantum iot for ventilation in underground mining” (Code: ID21I1019)"</strong>, Director: Dr. Ismael Soto Gómez. IDeA I+D ANID, 2022</li>
  <li class="pb-5"><strong>"Muestreo remoto seguro de COVID-19 usando códigos polares y un canal VLC-RF híbrido"</strong>, Director: Dr. Ismael Soto Gómez. DICYT, 2023</li>
</ol>
</div>

<div class="container px-10">
<h2 class="text-3xl font-bold mb-3">Executed</h2>
<ol class="text-lg list-decimal list-outside">
  <li class="pb-5"><strong>"Multiuser VLC for underground minings"</strong>, Director: Dr. Ismael Soto Gómez. Sub Director: Dr. Felix Rojas. Project Type:Fonder IT17M10012, from 2018 to 2019.</li>
  <li class="pb-5"><strong>"Resource Allocation for 5G Massive MIMO Systems: A Stochastic Programming Approach”</strong>,  Director: Dr. Pablo Alberto Adasme Soto, Fondecyt-11180107, from 2019 to 2022.</li>
  <li class="pb-5"><strong>“VLmC-Visible Ligth Mine Communications”</strong>, Counterpart Coordinator Usach Dr. Ismael Soto, Regional program between France and South America (Ecuador and Chile), code STICAMSUD 1l9-STIC-08, from 2019 to 2022.</li>
  <li class="pb-5"><strong>Center for Multidisciplinary Research on Signal Processing - Project ring ACT 1120</strong>. Responsible researcher USACH: Dr. Ismael Soto. Duration: 2013-2016. <a href="http://www.cmrsp.cl/">http://www.cmrsp.cl/</a></li>
  <li class="pb-5"><strong>Continuous visible light communication Access point for man to machine interaction and detection in high risk mining environments</strong>, CORFO code 14IDL2-29919, Duration: 2015-2016.</li>
  <li class="pb-5"><strong>Modeling of high-density storage over nano-particles, Proyecto DICYT/061413SG</strong>. Responsible researcher: Dr. Ismael Soto. Duration: 2015-2017.</li>
  <li class="pb-5"><strong>Optimization of quantum relay networks.National competition of insertion of advanced human capital in the academy</strong>. Conicyt-2010,  Responsible researcher: Dr. Ismael Soto. Duración: 2011-2013.</li>
  <li class="pb-5"><strong>Cluster Head Selection in a quantum teleportation algorithm. Project DICYT/06111SG</strong>. Responsible researcher: Dr. Ismael Soto. Duration: 2011-2013</li>
  <li class="pb-5"><strong>A new ring sphere packing decoding strategy. Project DICYT/ 06-0917SG</strong>. Responsible researcher: Dr. Ismael Soto. Duration: 2009-2010</li>
  <li class="pb-5"><strong>Analysis, Modelling and Optimization in the Application of wireless Technologies. Proyecto Anillo Bicentenario de Ciencia y Tecnología, PBCT ACT-11/2004</strong>. Responsible researcher Usach: Dr. Ismael Soto. Duration: 2006-2009.</li>
  <li class="pb-5"><strong>Searching Of New Codes For Non Linear Mobile Telecommunication Channels: Development Of Iterative Receivers For Space-Time Block-Coded Ofdm Systems. National Project Competition Fondecyt Regular 2003</strong>. Responsible researcher: Dr. Ismael Soto, Chile.</li>
  <li class="pb-5"><strong>Searching Algorithms to obtain a New Coding For Non Linear Mobile Radio Channels Concurso Nacional de Proyectos Fondecyt Regular 2000</strong> Investigador Responsable Fondecyt República de Chile.</li>
  <li class="pb-5"><strong>Diseño e Implementación de un Intranet destinada a mejorar la capacidad del aprendizaje Concurso Nacional de Proyectos Cicitca Regular 2000</strong> Co- Investigador Cicitca República Argentina Proyecto de incentivo internacional asociado a este proyecto, CONICYT/SECIP Folio 2000-3-060.</li>
</ol>
</div>


</template>

<style scoped>
.custom-img {
  background-image: url("/Cover1.png");
  background-color: rgba(0,0,0,0.4);
}
</style>