<template>
<header
  class="flex items-center h-screen mb-12 bg-fixed bg-center bg-cover bg-blend-darken custom-img  h-24"
>
  <div class=" text-left text-white font-bold text-4xl ml-10" >
    SACVLC 2023
  </div>
</header>

<div class="my-20">
  <div class="flex justify-center">
  <h1 class="text-3xl">Comming Soon</h1>
  </div>
  <div class="flex justify-center mt-3">
    <h1 class="">Our site for South American Colloquium on Visible Light 2023 is currently being developed. Back Soon</h1>
  </div>
</div>


</template>

<style scoped>
.custom-img {
  background-image: url("/Cover1.png");
  background-color: rgba(0,0,0,0.4);
}
</style>