    <!--dropdown-->
          <li class="relative" x-data="{partnersOpen: false}">
            <button href="#" class="flex w-full outline-none focus:outline-none px-4 py-2 rounded-md font-medium  text-white hover:text-usach-orange"
            @click="partnersOpen = !partnersOpen"
            @mouseover="onOver"
            @mouseleave="onLeft"
            >Partners</button>

            <!-- dropdown menu -->
            <div class="lg:absolute bg-black right-0 rounded-md p-2"
            :class="{'hidden': !partnersOpen, 'flex flex-col': partnersOpen}"
            @mouseover="onOver"
            @mouseleave="onLeft"
           >

              <ul class="space-y-2 lg:w-36">
                <li>
                  <a href="https://labgetic.usach.cl/" target="_blank" class="w-full no-underline block mt-4 sm:inline-block sm:mt-0 text-white hover:bg-usach-orange mr-8">Lab Getic</a>
                </li>
                <li>
                  <a href="#" class="w-full no-underline block mt-4 sm:inline-block sm:mt-0 text-white hover:bg-usach-orange mr-8">Others</a>
                </li>
              </ul>
            </div>
          </li>